*~
*.swp
BestHTTP2
WebGLBrowserTests/WebGLBrowserTests.zip
*.zip
scream2020ju3a 
deleteme*
scream2020ju11_musicdisabled/
scream2020ju11pc/
sj12/
sj14/
sj5/
sj5a/
sj5b/
cwcsecrets_test2
cwcsecrets03_bsaysbroke_but_shader_works/
dddd/
eeee/
ffff/
gggg/

no changes added to commit (use "git add" and/or "git commit -a")
